:root {
  --font-family: "Helvetica Neue", Arial, sans-serif;
  --transition-speed: 0.3s;

  /* Theme Variables */
  --light-bg: #ffffff;
  --light-text: #2c2c2c;
  --light-toolbar-bg: #f7f7f7;
  --light-border: #d0d0d0;
  --light-accent: #007bff;
  --light-hover-accent: #0056b3;

  --dark-bg: #1e1e2f;
  --dark-text: #f5f5f5;
  --dark-toolbar-bg: #2b2d42;
  --dark-border: #555555;
  --dark-accent: #ff4c81;
  --dark-hover-accent: #ff2b68;

  --solarized-bg: #fdf6e3;
  --solarized-text: #657b83;
  --solarized-toolbar-bg: #eee8d5;
  --solarized-border: #93a1a1;
  --solarized-accent: #268bd2;
  --solarized-hover-accent: #1e5d9f;

  --high-contrast-bg: #000000;
  --high-contrast-text: #ffffff;
  --high-contrast-toolbar-bg: #628962;
  --high-contrast-border: #ffcc00;
  --high-contrast-accent: #00ff00;
  --high-contrast-hover-accent: #00cc00;

  --pastel-bg: #faf3dd;
  --pastel-text: #4a4a4a;
  --pastel-toolbar-bg: #ffe8d6;
  --pastel-border: #f5b7a3;
  --pastel-accent: #f08080;
  --pastel-hover-accent: #e06262;

  /* Common */
  --button-color: #ffffff;
  --print-button-bg: #ef233c;
  --print-button-bg-hover: #d42c31;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
  overflow: hidden;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 200px;
  height: 100%;
  background-color: var(--light-bg);
  color: var(--light-text);
  padding: 10px;
  padding-bottom: 40px;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  scrollbar-width: auto;
  // height: calc(100vh - 40px) !important;
  margin-bottom: 0;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }

  &.open {
    left: 0;
  }

  &.light {
    background-color: var(--light-bg);
    color: var(--light-text);
  }

  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }

  &.solarized {
    background-color: var(--solarized-bg);
    color: var(--solarized-text);
  }

  &.high-contrast {
    background-color: var(--high-contrast-bg);
    color: var(--high-contrast-text);
  }

  &.pastel {
    background-color: var(--pastel-bg);
    color: var(--pastel-text);
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &.light {
      &:hover {
        background-color: var(--light-toolbar-bg);
      }
    }

    &.dark {
      &:hover {
        background-color: var(--dark-toolbar-bg);
      }
    }

    &.solarized {
      &:hover {
        background-color: var(--solarized-toolbar-bg);
      }
    }

    &.high-contrast {
      &:hover {
        background-color: var(---high-contrast-toolbar-bg);
      }
    }

    &.pastel {
      &:hover {
        background-color: var(--pastel-toolbar-bg);
      }
    }
  }
}

/* Hamburger icon */
.hamburger-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  width: 40px;
  height: 40px;

  &.light {
    background-color: var(--light-accent);
    color: var(--light-bg);

    &:hover {
      background-color: var(--light-hover-accent); // Use the hover variable
      color: var(--light-text);
    }
  }

  &.dark {
    background-color: var(--dark-accent);
    color: var(--dark-bg);

    &:hover {
      background-color: var(--dark-hover-accent); // Use the hover variable
      color: var(--dark-text);
    }
  }

  &.solarized {
    background-color: var(--solarized-accent);
    color: var(--solarized-bg);

    &:hover {
      background-color: var(--solarized-hover-accent); // Use the hover variable
      color: var(--solarized-text);
    }
  }

  &.high-contrast {
    background-color: var(--high-contrast-accent);
    color: var(--high-contrast-bg);

    &:hover {
      background-color: var(
        --high-contrast-hover-accent
      ); // Use the hover variable
      color: var(--high-contrast-text);
    }
  }

  &.pastel {
    background-color: var(--pastel-accent);
    color: var(--pastel-bg);

    &:hover {
      background-color: var(--pastel-hover-accent); // Use the hover variable
      color: var(--pastel-text);
    }
  }
}

/* Theme Selector styles */
.theme-selector {
  margin-bottom: 20px;

  h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }

  .theme-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .theme-option {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      border-radius: 8px;
      border: 2px solid transparent;
      transition: border-color 0.3s;
      text-align: center;

      input {
        display: none;
      }

      &.selected {
        &.light {
          border-color: var(--light-accent);
        }
        &.dark {
          border-color: var(--dark-accent);
        }
        &.solarized {
          border-color: var(--solarized-accent);
        }
        &.high-contrast {
          border-color: var(--high-contrast-accent);
        }
        &.pastel {
          border-color: var(--pastel-accent);
        }
      }

      .theme-icon {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        &.theme-icon-light {
          background: var(--light-bg);
          border: 2px solid var(--light-border);
          color: var(--light-text);
        }

        &.theme-icon-dark {
          background: var(--dark-bg);
          border: 2px solid var(--dark-border);
          color: var(--dark-text);
        }

        &.theme-icon-solarized {
          background: var(--solarized-bg);
          border: 2px solid var(--solarized-border);
          color: var(--solarized-text);
        }

        &.theme-icon-high-contrast {
          background: var(--high-contrast-bg);
          border: 2px solid var(--high-contrast-border);
          color: var(--high-contrast-text);
        }

        &.theme-icon-pastel {
          background: var(--pastel-bg);
          border: 2px solid var(--pastel-border);
          color: var(--pastel-text);
        }
      }

      .theme-label {
        font-size: 14px;
        color: inherit;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .hamburger-icon {
    bottom: 10px;
    left: 10px;
  }
}

.note-editor-container {
  position: relative;
  padding-left: 40px;

  &.light {
    background-color: var(--light-bg);
    color: var(--light-text);
    .ql-picker-label {
      &.ql-active {
        color: var(--light-accent) !important;
        background-color: var(--light-toolbar-bg) !important;
        .ql-stroke {
          stroke: var(--light-accent) !important;
        }
      }
    }
    button.ql-active {
      .ql-stroke {
        stroke: var(--light-accent) !important;
      }
      .ql-fill {
        fill: var(--light-accent) !important;
      }
    }
  }

  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    .ql-picker-label {
      &.ql-active {
        color: var(--dark-accent) !important;
        background-color: var(--dark-toolbar-bg) !important;
        .ql-stroke {
          stroke: var(--dark-accent) !important;
        }
      }
    }
    button.ql-active {
      .ql-stroke {
        stroke: var(--dark-accent) !important;
      }
      .ql-fill {
        fill: var(--dark-accent) !important;
      }
    }
  }

  &.solarized {
    background-color: var(--solarized-bg);
    color: var(--solarized-text);
    .ql-picker-label {
      &.ql-active {
        color: var(--solarized-accent) !important;
        background-color: var(--solarized-toolbar-bg) !important;
        .ql-stroke {
          stroke: var(--solarized-accent) !important;
        }
      }
    }
    button.ql-active {
      .ql-stroke {
        stroke: var(--solarized-accent) !important;
      }
      .ql-fill {
        fill: var(--solarized-accent) !important;
      }
    }
  }

  &.high-contrast {
    background-color: var(--high-contrast-bg);
    color: var(--high-contrast-text);
    .ql-picker-label {
      &.ql-active {
        color: var(--high-contrast-accent) !important;
        background-color: var(--high-contrast-toolbar-bg) !important;
        .ql-stroke {
          stroke: var(--high-contrast-accent) !important;
        }
      }
    }
    button.ql-active {
      .ql-stroke {
        stroke: var(--high-contrast-accent) !important;
      }
      .ql-fill {
        fill: var(--high-contrast-accent) !important;
      }
    }
  }

  &.pastel {
    background-color: var(--pastel-bg);
    color: var(--pastel-text);
    .ql-picker-label {
      &.ql-active {
        color: var(--pastel-accent) !important;
        background-color: var(--pastel-toolbar-bg) !important;
        .ql-stroke {
          stroke: var(--pastel-accent) !important;
        }
      }
    }
    button.ql-active {
      .ql-stroke {
        stroke: var(--pastel-accent) !important;
      }
      .ql-fill {
        fill: var(--pastel-accent) !important;
      }
    }
  }
}

.ql-toolbar.ql-snow {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: inherit;
}

.ql-container {
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 115px) !important;
  margin-bottom: 0;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
}

.ql-editor {
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.footer-credits {
  font-size: 12px;
  margin-top: auto;
  text-align: center;
  opacity: 1;
  position: fixed;
  bottom: 0px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  &.light {
    background-color: var(--light-bg);
    color: var(--light-text);
  }

  &.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }

  &.solarized {
    background-color: var(--solarized-bg);
    color: var(--solarized-text);
  }

  &.high-contrast {
    background-color: var(--high-contrast-bg);
    color: var(--high-contrast-text);
  }

  &.pastel {
    background-color: var(--pastel-bg);
    color: var(--pastel-text);
  }

  .beating-heart {
    display: inline-block;
    animation: beat 1s infinite;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  // // Hover effect on footer-credits
  // &:hover .beating-heart {
  //   font-size: 20px;
  //   animation: beat 1s infinite;
  //   transition: transform 0.3s ease;
  // }
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.note-title-wrapper {
  padding: 20px 30px;
  background-color: var(--light-bg);
  border-bottom: 1px solid var(--light-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); // Soft shadow for depth
  text-align: center; // Center-align the title for a cleaner look
  transition: background-color var(--transition-speed),
    border-color var(--transition-speed), box-shadow var(--transition-speed);

  &.dark {
    background-color: var(--dark-bg);
    border-color: var(--dark-border);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); // Darker shadow for dark mode
  }

  &.solarized {
    background-color: var(--solarized-bg);
    border-color: var(--solarized-border);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  &.high-contrast {
    background-color: var(--high-contrast-bg);
    border-color: var(--high-contrast-border);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  &.pastel {
    background-color: var(--pastel-bg);
    border-color: var(--pastel-border);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
}

.current-note-title {
  font-size: 28px; // Increased size for better prominence
  font-weight: 600; // Semi-bold for modern typography
  color: var(--light-text);
  margin: 0; // Ensure no extra margins
  letter-spacing: 1px; // Slight spacing for readability
  line-height: 1.2; // Tighter line-height for a clean look
  transition: color var(--transition-speed);

  &.dark {
    color: var(--dark-text);
  }

  &.solarized {
    color: var(--solarized-text);
  }

  &.high-contrast {
    color: var(--high-contrast-text);
  }

  &.pastel {
    color: var(--pastel-text);
  }
}

/* Responsive improvements for mobile */
@media (max-width: 768px) {
  .note-title-wrapper {
    padding: 15px 20px;
  }

  .current-note-title {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .note-title-wrapper {
    padding: 10px 15px;
  }

  .current-note-title {
    font-size: 18px;
  }
}

.notes-list {
  padding: 10px 5px;
  background-color: var(--light-bg);
  transition: background-color var(--transition-speed);

  &.dark {
    background-color: var(--dark-bg);
  }

  &.solarized {
    background-color: var(--solarized-bg);
  }

  &.high-contrast {
    background-color: var(--high-contrast-bg);
  }

  &.pastel {
    background-color: var(--pastel-bg);
  }
}

.notes-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  margin-bottom: 8px;
  border-radius: 6px;
  background-color: var(--light-secondary-bg);
  .notes-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--light-text);
    transition: color var(--transition-speed);

    &.dark {
      color: var(--dark-text);
    }

    &.solarized {
      color: var(--solarized-text);
    }

    &.high-contrast {
      color: var(--high-contrast-text);
    }

    &.pastel {
      color: var(--pastel-text);
    }
  }
  .create-note-btn {
    color: var(--light-text);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;

    &:hover {
      background-color: var(--primary-hover); // Darker shade for hover effect
    }

    &.dark {
      background-color: var(--dark-primary);
      color: var(--dark-text);
      &:hover {
        background-color: var(--dark-primary-hover);
      }
    }

    &.solarized {
      background-color: var(--solarized-primary);
      color: var(--solarized-text);
      &:hover {
        background-color: var(--solarized-primary-hover);
      }
    }

    &.high-contrast {
      background-color: var(--high-contrast-primary);
      color: var(--high-contrast-text);
      &:hover {
        background-color: var(--high-contrast-primary-hover);
      }
    }

    &.pastel {
      background-color: var(--pastel-primary);
      color: var(--pastel-text);
      &:hover {
        background-color: var(--pastel-primary-hover);
      }
    }
  }
}

.notes-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  margin-bottom: 8px;
  border-radius: 6px;
  background-color: var(--light-secondary-bg);
  cursor: pointer;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);

  &.active {
    background-color: var(--light-active-bg);
    font-weight: bold;
  }

  &:hover {
    background-color: var(--light-toolbar-bg);
  }

  &.dark {
    background-color: var(--dark-secondary-bg);

    &:hover {
      background-color: var(--dark-toolbar-bg);
    }

    &.active {
      background-color: var(--dark-active-bg);
    }
  }

  &.solarized {
    background-color: var(--solarized-secondary-bg);

    &:hover {
      background-color: var(--dark-toolbar-bg);
    }

    &.active {
      background-color: var(--solarized-active-bg);
    }
  }

  &.high-contrast {
    background-color: var(--high-contrast-secondary-bg);

    &:hover {
      background-color: var(--high-contrast-toolbar-bg);
    }

    &.active {
      background-color: var(--high-contrast-active-bg);
    }
  }

  &.pastel {
    background-color: var(--pastel-secondary-bg);

    &:hover {
      background-color: var(--pastel-toolbar-bg);
    }

    &.active {
      background-color: var(--pastel-active-bg);
    }
  }

  .note-title {
    font-size: 15px;
    color: var(--light-text);
    flex-grow: 1;
    transition: color var(--transition-speed);

    &.dark {
      color: var(--dark-text);
    }

    &.solarized {
      color: var(--solarized-text);
    }

    &.high-contrast {
      color: var(--high-contrast-text);
    }

    &.pastel {
      color: var(--pastel-text);
    }
  }
}

/* Responsive Improvements */
@media (max-width: 768px) {
  .notes-list {
    padding: 15px;
  }

  .create-note-btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .note-item {
    padding: 10px 12px;
  }

  .note-title {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .create-note-btn {
    width: 100%;
    justify-content: center;
  }

  .note-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.m-b-50 {
  margin-bottom: 50px;
}

.sidebar-action-icon {
  font-size: 20px;

  &.light {
    color: var(--light-accent);
  }

  &.dark {
    color: var(--dark-accent);
  }

  &.solarized {
    color: var(--solarized-accent);
  }

  &.high-contrast {
    color: var(--high-contrast-accent);
  }

  &.pastel {
    color: var(--pastel-accent);
  }
}
